@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin : 0 ; 
  padding :0 ; 
  box-sizing: border-box;
  font-family: 'Poppins', monospace, sans-serif;
}

.container {
  width:90vw; 
  height :auto; 
  margin: auto ;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding : 1rem ; 
  border-bottom :5px solid black; 
  border-radius : 20%;
  margin-bottom : 2rem;  
width:100%;
}

.btn{
  width:auto;
  height :35px;
  color : whitesmoke; 
  background : black ;
  padding : 0.5rem;
  border:1px solid black ;
  border-radius : 5px ;
  transition: 0.1s all ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn:hover,
.add-btn:hover {
  color:black;
  background : white;
  border: 1px solid gray;
  cursor: pointer;
}

.Task,
.header-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
  padding : 0.3rem ; 
  border-radius : 5px; 
  margin : 0.5rem auto ;
  background : black; 
  color : white;
  border-left : 5px solid black ;

}
.header-table{
  font-weight: bold;
  border: 2px solid green ;
  border-right : 5px solid green ;
  border-left : 5px solid green ;

}

.task-title,  
.Task div ,
.Task input{
  width:33.33%;
}

.reminder {
  border-left : 5px solid green ;
}
.delete {
  display: flex;
  justify-content: flex-end;  
  align-items: center;
}
.fidel {
  width:50px;
  height:20px;
  cursor : pointer;
  color:red;
  transition: 0.2s all ease;
}

.fidel:hover {
  color : darkred;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-form{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  transition: all 1s ease;
}


.title {
  width:60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title input {
  width:100%;
  border-radius: 10px;
  border:1px solid black;
  padding :5px;
}
.reminder-add {
  width:60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}

.add-btn {
  width:33%;
  border:1px solid black;
  border-radius:5px ;
  padding:5px;
  color : white ;
  background :black; 
  transition: all 0.2s ease-in-out;
}

.closing-arrow{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; 
}

.arrow{
  color:#1f9ede;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.arrow:hover{
  color:black;
}

.footer {
  text-align: center;
  width:100%; 
  height : 10vh; 
  margin-top: 1rem;
}